h1 {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

li :first-letter {
  text-transform: capitalize;
}
.sun-icon {
  font-size: 60px;
}

.weather-app-box {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 40px;
  border: 1px solid rgb(244, 197, 55);
  padding: 30px;
  border-radius: 5px;
}
.header-overview {
  padding-bottom: 20px;
}
.temperature {
  font-size: 60px;
}
.units {
  position: relative;
  top: -30px;
}

.weather-temperature .active {
  color: black;
  cursor: default;
  text-decoration: none;
}
.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-temperature .inactive {
  text-decoration: none;
}
